rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cada utilizador só acede aos documentos dentro do seu próprio espaço.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
